body{
  background-color: antiquewhite;
  min-height: 100vh;
  margin: 0;
}

#body-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn{
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #216810;
  background-color: #216810;
  color:antiquewhite;
  cursor: pointer;
}

header,
footer{
  background:#216810;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 15px clamp(20px, 4vw, 30px) 20px;
}

#body-container main{
  flex: 1;
}
